btn
{
  width:10%;
  margin-left: 42%;
  font-size: xx-large;
  color: red;
  border: 2px solid red;


}
.form
{
  width: 30%;
  padding: 1%;

  float: left;
}
.form legend
{
  text-align: center;
  font-size: x-large;
}
.form .mat-form-field
{
  width:100%;

}
.form button[type=submit]
{
  width:20%;
  margin-bottom: 2%;
  margin-left: 12%;
  margin-right: 25%;
}
.form button[type=reset]
{
  width:20%;
  margin-bottom: 2%;

}

ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

