.mat-header-row
{
  background-color: goldenrod;


}
.mat-header-cell
{
  color:white;
  font-weight: bold;
  font-size: large;
  margin-left: 1%;
}

.mat-table
{
  width:60%;
  margin-top: 2%;

  font-size: large;
  font-weight: bold;

}

.mat-cell{
  color:goldenrod;

  font-weight: bold;
  margin-right: 6%;
  font-size: large;
}


.mat-paginator
{
  margin-right: 30%;
  color:goldenrod;
  font-weight: bold;
  font-size: large;
}



